@page
@model webapp.Pages.Receiving.IndexModel
@{
    ViewData["Title"] = "Receiving Home";
}

<div class="text-center">
    <h1 class="display-4">Receiving Home</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
