:root {
  --rem-font-size: 16px;
  --body-width: 80rem;
  --body-margin: 60px;
  --bg-color: #b5b5b5;
  --bg-color-success: seagreen;
  --bg-color-error: salmon;
  --text-color-error: #fff;
  --text-color-success: #fff;
  
}

html {
  font-size: var(--rem-font-size);
}

body {
  margin-bottom: var(--body-margin);
}

.halfpage {
  width: 47%;
  margin-right: 3%;
}

.setflex {
  display: flex;
}