:root {
  /* --bs-primary: #6c757d; */
  --rem-font-size: 16px;
  --body-width: 80rem;
  --body-margin: 60px;
  --bg-color: #b5b5b5;
  --bg-color-success: seagreen;
  --bg-color-error: salmon;
  --text-color-error: #fff;
  --text-color-success: #fff;
  --box-shadow: 0px 0px 0px 0.25rem rgba(66, 70, 73, 0.5);
  --border-color: #212529;
  --background-color: #212529;
}


.form-control:focus {
    border-color: var(--border-color);
    box-shadow:  var(--box-shadow);
}
	
.form-select:focus {
  border-color: var(--border-color);
  box-shadow:  var(--box-shadow);
}
select option:checked {
  background-color: red;
}
select option:hover {
  background-color: yellow;
    /* box-shadow: 0 0 10px 100px #000 inset; */
    /* background: var(--background-color); */
}
select option:active {
  background-color: green;
}

/* select:focus > option:checked {
  background-color: var(--background-color);
}  */

/* .show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: var(--background-color);
  border-color: var(--border-color);
} */

.dropdown-item:active {
  color: #fff;
  background-color: var(--background-color);
}

.form-check-input:checked {
  background-color: var(--background-color);
  border-color: var(--border-color);
}
.form-check-input:focus {
  border-color: var(--border-color);
  outline: 0;
  box-shadow:  var(--box-shadow);
}

html {
  font-size: var(--rem-font-size);
}

body {
  margin-bottom: var(--body-margin);
}

.halfpage {
  width: 47%;
  margin-right: 3%;
}

.setflex {
  display: flex;
}