html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

:root {
  --max-body-width: 80rem;
}

.halfpage {
  width: 47%;
  margin-right: 3%;
}

.setflex {
  display: flex;
}